.sweetato {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 2px;
    border: 2px solid;
    border-color: rgb(5, 4, 3);
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: fantasy;
}

.tube {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.see {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}